@use "/src/assets/css/variables.scss";

.Card {
  background-color: variables.$white;
  padding: variables.$spacing * 2;
  border-radius: variables.$spacing;
  box-shadow: 0 2px 3px black;

  &__title {
    font-weight: 600;
    font-size: 1.2rem;
  }
}
